
main, nav{
    width: 90%px;
    background-color:rgb(158, 107, 68);
    margin: 0 auto;
    z-index: 1;
}
body{
    width:90%;
    background-image: url(https://cdn.pixabay.com/photo/2018/03/12/14/50/wallpaper-3219829_960_720.jpg); background-repeat: repeat;
}

div{
    margin: 0, auto;
    width: 90%px;
    height: 300px;
    background-image: url(http://www.seekgif.com/download/use-this-dark-red-background-14523); background-repeat: repeat;
}
#title {
    position:absolute;
    top: 135px;
    left: 650px;
    font-family: 'Dokdo', cursive;
    color: white;
    font-size: 120px;
}

nav ul li {
    /* display: inline-block; */
    vertical-align: top;
    font-family: 'Dokdo', cursive;
    color: white;
    font-size: 25px;
    padding: 30px;
    margin:0, auto;
    float: right;
}

div img{
    position: absolute;
    bottom: 620px;
    left: 50px;
    transform: rotate(345deg);
}

table, tr, td {
    border:solid;
}

td{
    padding: 10px;
}

form{
    border:groove;
    
}
h1 {
    font-size: 50px;
    color: white;
    background-color: black 
}
h2{
    font-size:60px;
    font-weight: bold;
    text-align: center;
    color:black;
    background-color:rgba(255,204,102,0.2);
    width:85%;
    position: relative;
    box-sizing: content-box;
    width: 85%;
    margin-left: 50px;
    padding-left:100px;
    font-size: 25px;
    padding-top: 50px;
    font-family: 'Source Code Pro', monospace;
    
}
main ul li{
    display: inline-block;
    box-sizing: content-box;
    clear: both;
    width: 450px;
    background-color:rgba(255,255,51,0.2);
    border:double; 
    border-width: 5px;
}
p img{
    width: 20%;
    border: groove;
    float:left;
    margin-right: 30px;
    box-sizing: border-box;
    border: solid;
    border: black;
    border-width: 5px;
    padding:10px;
}
p{
    box-sizing: content-box;
    width: 85%;
    margin-left: 50px;
    padding-left:100px;
    font-size: 25px;
    background-color:rgba(255,204,102,0.2);
    box-align: center;
}
header{
    border:solid;
    border:black;
    border-width:3px;
}
#first-box{
    margin-left: 2.2%;
    margin-right: 10px;
}
#second-box{
    margin-left:25px;
    margin-right:25px;
}